.header {
  background-color: #242424;
  height: 50px;
  flex-shrink: 0;
  display: flex;
}

.logo {
  height: 30px;
  padding: 10px;
  background-color: #2d3034;
  color: #e6e6e6;
  float: left;
}

.title {
  float: left;
  line-height: 50px;
  color: #e6e6e6;
  font-size: 20px;
  padding-left: 15px;
  font-weight: bold;
  width: 100%;
  overflow: hidden;
}

.ghLogo {
  float: right;
  height: 30px;
  padding: 10px;
  background-color: #2d3034;
  color: #e6e6e6;
  transition: 0.5s;
}

.ghLogo:hover {
  background-color: rgb(53, 53, 53);
}