.win-box {
  background-color: #3f3f3f;
  color: #e6e6e6;
  padding: 0 10px;
  border-radius: 3px;
  margin-bottom: 10px;
  height: 0;
  overflow: hidden;
  transition: 0.3s;
}

.win-box.show {
  padding: 5px 10px;
  height: 20px;
}